@font-face {
  font-family: "iconfont"; /* Project id 3752633 */
  src: url("//at.alicdn.com/t/c/font_3752633_n5t2kgf9qy.woff2?t=1668740720604")
      format("woff2"),
    url("//at.alicdn.com/t/c/font_3752633_n5t2kgf9qy.woff?t=1668740720604")
      format("woff"),
    url("//at.alicdn.com/t/c/font_3752633_n5t2kgf9qy.ttf?t=1668740720604")
      format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yinfuhao:before {
  content: "\e607";
}

.icon-shanchu:before {
  content: "\e68e";
}

.icon-danquxunhuan:before {
  content: "\e66d";
}

.icon-suijibofang:before {
  content: "\e6a0";
}

.icon-liebiaoxunhuan:before {
  content: "\e6a2";
}

.icon-yinle:before {
  content: "\e625";
}

.icon-guanzhu:before {
  content: "\e6cf";
}

.icon-faxian:before {
  content: "\e66c";
}

.icon-yinleliebiao-:before {
  content: "\e60f";
}

.icon-bofang:before {
  content: "\e624";
}

.icon-zanting:before {
  content: "\e887";
}
